<a href="https://colab.research.google.com/github/chandrasekhaar/pyhton-notes/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#
def mul(a,b):
 print(a*b)
 mul(10,1000)

List comprehension

In [5]:
# LC offers a smaller line of code so you can create  new _list
fruits=["apple","banana","cherry","grapes","mango"]
new_list=[]
for i in fruits:
  if "a"in i:
    new_list.append(i)
  print(new_list)

['apple']
['apple', 'banana']
['apple', 'banana']
['apple', 'banana', 'grapes']
['apple', 'banana', 'grapes', 'mango']

In [7]:
#write a program to even numers in list?
list=[1,2,3,4,5,6,7,8,9]
new= [i for i in list if i%2==0]
print(new)

[2, 4, 6, 8]

In [8]:
#print new list whre it doesn't have bananain it?
a=['apple','banana','mango','kiwi','grapes']
new=[i for i in a if 'banana' not in i]
print(new)

['apple', 'mango', 'kiwi', 'grapes']

In [9]:
#using the steing method in the lc
a=['apple','banana','mango','kiwi','grapes']
new=[i.upper() for i in a]
print(new)

['APPLE', 'BANANA', 'MANGO', 'KIWI', 'GRAPES']

In [10]:
#replace banana with orange by using lc?
fruits=['apple','banana','mango','kiwi','grapes']
new=[i.replace('banana','orange')for i in fruits]
print(new)

['apple', 'orange', 'mango', 'kiwi', 'grapes']

In [12]:
#print the range of numbers upto 20 in list?
n=[i for i in range(20)]
print(n)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

LAMDA

In [14]:
# lamda is a small anonymous functtion
#function without name
def f1(x):
  return x
print(f1(10))

10

In [17]:
def x(a):
  return(a)
print(x(10000))

10000

#syntax for lambda
lambda arguements::exprssion

In [ ]:
#lambda is anonmoes function where it can have many expression and 1 expression/

In [18]:
#what is expression
#some statement/calculations/step using method
x=lambda a:a+10
print(x(5))

15

In [19]:
#take many arguments
x=lambda a,b,c:a+b+c
print(x(10,20,30))

60

In [32]:
#create diff function i..e
#square
#cube
#four
#sqrt-->0.5
def square(y):
  return y**2
def cube(y):
    return y**3
def four(y):
      return y**4
def sqrt(y):
  return y**0.5
print(square(5))
print(cube(5))
print(four(5))
print(sqrt(5))

25
125
625
2.23606797749979

In [37]:
h=2**13
print(h)

8192

In [39]:
e="crypto"
print(e.upper())

CRYPTO

In [ ]:
#types of variable
# global variable:- create a variale outsode the function
#local variable:-create a variable inside the function
def f1():
  x=10
  print(x)
f1()